# Binary files
*.ttf             binary
*.eot             binary
*.otf             binary
*.woff            binary
*.woff2           binary
*.aesprite        binary
*.ogg             binary
*.png             binary
